<h1>IQuantile: Intelligent Technology </h1>

<div ng-controller="ItemCtrl" >
    
    <h2>Shopping Cart</h2>
    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>        </th>
        </tr>
       
        <tr ng-repeat="each in cart">
            <td>{{each.item.Name}} </td>
            <td>{{each.item.City}} </td>		
            <td>{{each.item.Country}} </td>
            <td><button ng-click= "removeFromCart(each)">Remove({{each.count}})</button></td>
        </tr>
    </table>

</div>

<div ng-controller="IndexCtrl" .container-fluid>
    
    <h1>Item List</h1>
    

    <div class="row" ng-repeat="row in items" >
        <div class="col-xs-4" ng-repeat="each in row" >
            <div class="panel panel-default">
                <div class="panel-heading">
                  {{each.Name}}
                </div>
                <div class="panel-body">
                  {{each.City}}, {{each.Country}}
                    <br/>
                    <button class="btn btn-danger" ng-click=addToCart(each)>
                        Add to Cart 
                    </button>
                </div>
            </div>
        </div>
    </div>
    

</div>

<div ng-controller="IndexCtrl">

    Api Submission :3

    <form ng-submit="submit()">
        Name:<input type="text" ng-model="inputfields.name"/><br>
        Info:<input type="text" ng-model="inputfields.info"/><br>
        Available:<input type="checkbox" ng-model="inputfields.available"/><br>
        Ammount:<input type="number" ng-model="inputfields.ammount"/><br>
        Price:<input type="text" ng-model="inputfields.price"/><br>
        <input type="submit" /> 
    </form>
</div>